/* body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 16px;
}
nav{
    text-align: right;
}
.menu-item{
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    position: relative;
    top: -8px;
    margin-right: 16px;

}
.menu-item:hover{
    text-decoration: underline;
}
#profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
#dropdown-menu{
    margin-right: 16px;
}
section{
    text-align: center;
    padding-top: 8%;
}
#input-wrapper{
    position: relative;
    width: 582px;
    margin: 0 auto;
}
#search-box{
    width: 582px;
    color:#222 ;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    margin-top: 24px;
}
#input-wrapper > img{
    position: absolute;
    top: 30px;
    right: 0;
    width: 28px;
}
#search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}
#search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}
.custom-btn{
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    color: #222;
    margin-top: 24px;
    margin-left: 10px;
}
.custom-btn:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
#app-dropdown{
    max-width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: absolute;
    right:80px;
    display: none;
    z-index: 10;
}
.app-item{
    display: inline-block;
    width: 84px;
    margin-bottom: 18px;
    padding: 8px 2px;
    text-align: center;
}
.app-item> img{
    width: 50px;
    height: 50px;
}
.app-item > caption{
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding-top: 8px;
}
.app-item:hover{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
} */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content:flex-end;
}
.menu-item, #dropdown-menu, #profile-pic{
    padding: 8px;
}
.menu-item{
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    transform: translateY(5px);
    cursor: pointer;
}
.menu-item:hover{
    text-decoration: underline;
}
#profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(-10px);
}
#svgs{
    height:50;
    width: 50;
    transform: translateY(-25px);
    transform: translateX(200px);
    position: relative;
    top: -30px;
    right: -178px;
    fill: rgba(189, 167, 167,0.3);

}
#svg:hover {
    height:50;
    width: 50;
    transform: translateY(-25px);
    transform: translateX(200px);
    position: relative;
    top: -30px;
    right: -178px;
    fill: rgba(189, 167, 167,0.3);
}
#dropdown-menu{
    color: #000;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}
#search-box{
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
}
#voice{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    transform: translateX(-40px);
}
#search{
    height: 24px;
    width: 24px;
    transform: translateX(40px);
    color: #9aa0a6;
}
.custom-btn{
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top #f5f5f5, #f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}
.custom-btn:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
#btn{
    padding-top: 20px;
}